# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.game of life.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\projets\scolaire\43DJV\Biomimetisme\game of life\.idea\.idea.game of life\.idea/dataSources/
/dataSources.local.xml
